/*
 * Copyright (c) 2017 Fuzhou Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/sensor-dev.h>
#include "px30.dtsi"
#include "px30-android.dtsi"
#include "px30-eink.dtsi"

/ {
	model = "Rockchip PX30 evb ddr3 board";
	compatible = "rockchip,px30-evb-ddr3-v10-eink", "rockchip,px30";

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 2>;
		io-channel-names = "buttons";
		poll-interval = <100>;
		keyup-threshold-microvolt = <1800000>;
		status = "okay";

		esc-key {
			linux,code = <KEY_ESC>;
			label = "esc";
			press-threshold-microvolt = <1310000>;
		};

		home-key {
			linux,code = <KEY_HOME>;
			label = "home";
			press-threshold-microvolt = <624000>;
		};

/*
		menu-key {
			linux,code = <KEY_MENU>;
			label = "menu";
			press-threshold-microvolt = <987000>;
		};
*/

		vol-down-key {
			linux,code = <KEY_VOLUMEDOWN>;
			label = "volume down";
			press-threshold-microvolt = <300000>;
		};

		vol-up-key {
			linux,code = <KEY_VOLUMEUP>;
			label = "volume up";
			press-threshold-microvolt = <17000>;
		};
	};

	hall_sensor {
		compatible =  "ratta,hall";
		pinctrl-names = "default";
		pinctrl-0 = <&hall_sensor_gpio>;
		gpios = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	pwm_leds {
		compatible = "pwm-leds";
		status = "disabled";

		blue {
			label = "blue";
			pwms = <&pwm0 0 10000000 0>;
			max-brightness = <255>;
			linux,default-trigger = "default-on";
		};

		green {
			label = "green";
			pwms = <&pwm1 0 10000000 0>;
			max-brightness = <255>;
			linux,default-trigger = "default-on";
		};

		red {
			label = "red";
			pwms = <&pwm2 0 10000000 0>;
			max-brightness = <255>;
			linux,default-trigger = "default-on";
		};
	};

	rk809-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "rockchip,rk809-codec";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Mic Jack", "MICBIAS1",
			"IN1P", "Mic Jack",
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";
		simple-audio-card,cpu {
			sound-dai = <&i2s1_2ch>;
		};
		simple-audio-card,codec {
			sound-dai = <&rk809_codec>;
		};
	};

	rk_headset {
		compatible = "rockchip_headset";
		status = "disabled";
		headset_gpio = <&gpio2 RK_PB0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 1>;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		/*clocks = <&rk809 1>;*/
		/*clock-names = "ext_clock";*/
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h>;

		/*
		 * On the module itself this is one of these (depending
		 * on the actual card populated):
		 * - SDIO_RESET_L_WL_REG_ON
		 * - PDN (power down when low)
		 */
		reset-gpios = <&gpio0 RK_PA2 GPIO_ACTIVE_LOW>; /* GPIO3_A4 */
	};

	vcc5v0_sys: vccsys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc2v2_sys: vccsys_2v2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v2_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <2200000>;
		regulator-max-microvolt = <2200000>;
	};

	vcc3v3_lcd: vcc3v3_lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_lcd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_rts_gpio>;
		wifi_chip_type = "AP6256";
		WIFI,host_wake_irq = <&gpio0 RK_PB2 GPIO_ACTIVE_HIGH>;
		WIFI,vbat_gpio = <&gpio0 RK_PB5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk817 1>;
		clock-names = "ext_clock";
		uart_rts_gpios = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default","rts_gpio";
		pinctrl-0 = <&uart1_rts &bt_gpios>;
		pinctrl-1 = <&uart1_rts_gpio>;
		BT,reset_gpio = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio = <&gpio0 RK_PA1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&eink {
	status = "okay";
	tcon = <&tcon1>;

	/* ED078KH4 */
	panel,width = <1872>;
	panel,height = <1404>;
	panel,vir_width = <1872>;
	panel,vir_height = <1404>;
	panel,sdck = <33300000>;
	panel,pixels-per-sdck = <8>;
	panel,lsl = <18>;
	panel,lbl = <17>;
	panel,ldl = <234>;
	panel,lel = <7>;
	panel,gdck-sta = <34>;
	panel,lgonl = <192>;
	panel,fsl = <1>;
	panel,fbl = <4>;
	panel,fdl = <1404>;
	panel,fel = <12>;
	panel,vcom-mv = <1560>;

	/* ES103TC1 */
	/*panel,width = <1872>;
	panel,height = <1404>;
	panel,vir_width = <1872>;
	panel,vir_height = <1404>;
	panel,sdck = <33300000>;
	panel,pixels-per-sdck = <8>;
	panel,lsl = <11>;
	panel,lbl = <8>;
	panel,ldl = <234>;
	panel,lel = <23>;
	panel,gdck-sta = <10>;
	panel,lgonl = <215>;
	panel,fsl = <1>;
	panel,fbl = <4>;
	panel,fdl = <1404>;
	panel,fel = <12>;
	panel,vcom-mv = <1560>;*/

	/* ED097TC2U1 */
	/*panel,width = <1200>;
	panel,height = <825>;
	panel,vir_width = <1200>;
	panel,vir_height = <825>;
	panel,sdck = <25000000>;
	panel,pixels-per-sdck = <4>;
	panel,lsl = <4>;
	panel,lbl = <4>;
	panel,ldl = <300>;
	panel,lel = <36>;
	panel,gdck-sta = <18>;
	panel,lgonl = <265>;
	panel,fsl = <2>;
	panel,fbl = <4>;
	panel,fdl = <825>;
	panel,fel = <24>;
	panel,vcom-mv = <1930>;*/
};

&tcon1 {
	status = "okay";
};

&display_subsystem {
	force-disconnected;
	status = "okay";
};

&vopb {
	status = "okay";
};

&vopb_mmu {
	status = "okay";
};

&vopl {
	status = "disabled";
};

&vopl_mmu {
	status = "disabled";
};

&dsi {
	status = "okay";

	panel@0 {
		compatible = "simple-panel-dsi";
		reg = <0>;
		power-supply = <&vcc3v3_lcd>;
		prepare-delay-ms = <2>;
		reset-delay-ms = <1>;
		init-delay-ms = <20>;
		enable-delay-ms = <120>;
		disable-delay-ms = <50>;
		unprepare-delay-ms = <20>;

		width-mm = <68>;
		height-mm = <121>;

		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			      MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes = <4>;

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <64000000>;
				hactive = <720>;
				vactive = <1280>;
				hfront-porch = <40>;
				hsync-len = <10>;
				hback-porch = <40>;
				vfront-porch = <22>;
				vsync-len = <4>;
				vback-porch = <11>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};
	};
};

&dsi_in_vopl {
	status = "disabled";
};

&dsi_in_vopb {
        status = "okay";
};

&route_dsi {
	status = "disabled";
};

&bus_apll {
	bus-supply = <&vdd_logic>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&debug_uart {
		rockchip,baudrate = <115200>;  /* Only 115200 and 1500000 */
};

&dfi {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_logic>;
	status = "okay";
};

&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	supports-emmc;
	disable-wp;
	non-removable;
	num-slots = <1>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_logic>;
	status = "okay";
};

&i2c0 {
	status = "okay";

	rk817: pmic@20 {
		compatible = "rockchip,rk817";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default", "pmic-sleep";
				//"pmic-power-off", "pmic-reset";
		pinctrl-0 = <&pmic_int>, <&rk817_pin_gt>;
		pinctrl-1 = <&soc_slppin_slp>, <&rk817_slppin_slp>;
		//pinctrl-2 = <&soc_slppin_gpio>, <&rk817_slppin_pwrdn>;
		//pinctrl-3 = <&soc_slppin_rst>, <&rk817_slppin_rst>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "rk808-clkout1", "rk808-clkout2";
		//fb-inner-reg-idxs = <2>;
		/* 1: rst regs (default in codes), 0: rst the pmic */
		pmic-reset-func = <1>;
		pmic-sleep-reverse;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc5-supply = <&vcc2v2_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc_3v0>;
		vcc8-supply = <&vcc5v0_sys>;
		vcc9-supply = <&vcc5v0_sys>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk8xx: pinctrl_rk8xx {
			gpio-controller;
			#gpio-cells = <2>;

			rk817_ts_gpio1: rk817_ts_gpio1 {
				pins = "gpio_ts";
				function = "pin_fun1";
				/* output-low; */
				/* input-enable; */
			};

			rk817_gt_gpio2: rk817_gt_gpio2 {
				pins = "gpio_gt";
				function = "pin_fun1";
			};

			rk817_pin_ts: rk817_pin_ts {
				pins = "gpio_ts";
				function = "pin_fun0";
			};

			rk817_pin_gt: rk817_pin_gt {
				pins = "gpio_gt";
				function = "pin_fun0";
			};

			rk817_slppin_null: rk817_slppin_null {
				pins = "gpio_slp";
				function = "pin_fun0";
			};

			rk817_slppin_slp: rk817_slppin_slp {
				pins = "gpio_slp";
				function = "pin_fun1";
			};

			rk817_slppin_pwrdn: rk817_slppin_pwrdn {
				pins = "gpio_slp";
				function = "pin_fun2";
			};

			rk817_slppin_rst: rk817_slppin_rst {
				pins = "gpio_slp";
				function = "pin_fun3";
			};
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_logic";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vdd_arm: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <950000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vdd_arm";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <950000>;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_ddr";
				regulator-initial-mode = <0x2>;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_3v0: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-initial-mode = <0x2>;
				regulator-name = "vcc_3v0";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_sys: DCDC_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_sys";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_1v0: LDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vcc_1v0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vcc1v8_soc: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-name = "vcc1v8_soc";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd1v0_soc: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;

				regulator-name = "vcc1v0_soc";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1000000>;
				};
			};

			vcc3v0_pmu: LDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;

				regulator-name = "vcc3v0_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;

				};
			};

			vccio_sd: LDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-name = "vccio_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcc_sd: LDO_REG6 {
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-name = "vcc_sd";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;

				};
			};

			vcc2v8_dvp: LDO_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;

				regulator-name = "vcc2v8_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <2800000>;
				};
			};

			vcc1v8_dvp: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-name = "vcc1v8_dvp";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd1v5_dvp: LDO_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;

				regulator-name = "vdd1v5_dvp";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			vcc5v0_host: SWITCH_REG1 {
				regulator-name = "vcc5v0_host";
			};

			SWITCH_REG2 {
				regulator-boot-on;
				regulator-name = "vcc3v3_lcd";
			};
		};

		battery {
			compatible = "rk817,battery";
			ocv_table = <3400 3657 3680 3706 3732 3749 3763
				3776 3790 3807 3828 3857 3907 3949
				3976 4040 4081 4133 4186 4242 4308>;
			design_capacity = <2900>;
			design_qmax = <3190>;
			bat_res = <110>;
			sleep_enter_current = <150>;
			sleep_exit_current = <180>;
			sleep_filter_current = <100>;
			power_off_thresd = <3400>;
			zero_algorithm_vol = <3950>;
			max_soc_offset = <60>;
			monitor_sec = <5>;
			sample_res = <10>;
			bat_res_up = <140>;
			bat_res_down = <20>;
			virtual_power = <0>;
		};

		charger {
			compatible = "rk817,charger";
			min_input_voltage = <4500>;
			max_input_current = <3000>;
			max_chrg_current = <2000>;
			max_chrg_voltage = <4350>;
			chrg_term_mode = <0>;
			chrg_finish_cur = <100>;
			virtual_power = <0>;
			dc_det_adc = <0>;
			extcon = <&u2phy>;
		};

		rk809_codec: codec {
			#sound-dai-cells = <0>;
			compatible = "rockchip,rk809-codec", "rockchip,rk817-codec";
			clocks = <&cru SCLK_I2S1_OUT>;
			clock-names = "mclk";
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1_2ch_mclk>;
			hp-volume = <20>;
			spk-volume = <3>;
			status = "okay";
		};
	};
};

#define MXT_SUSPEND_DEEP_SLEEP 0
&i2c1 {
	status = "okay";

	atmel-touch@4b {
		compatible = "atmel,maxtouch";
		reg = <0x4b>;
		status = "okay";
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA5 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_panel_gpio>;
		atmel,power-gpio =<&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
		atmel,reset-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		atmel,suspend-mode = <MXT_SUSPEND_DEEP_SLEEP>;
		atmel,cfg_name="maxtouch.cfg";

	};

	tsc@24 {
		compatible = "cy,cyttsp5_i2c_adapter";
		reg = <0x24>;
		/*interrupts = <GIC_SPI 7 IRQ_TYPE_LEVEL_HIGH>;*/
		cy,adapter_id = "cyttsp5_i2c_adapter";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&cyttsp_gpio>;
		
		cy,core {
			cy,name = "cyttsp5_core";
			cy,irq_gpio =  <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
			cy,rst_gpio =  <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
			cy,pwr_gpio =  <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>;
			cy,hid_desc_register = <1>;
			/* CY_CORE_FLAG_RESTORE_PARAMETERS */
			/* CY_CORE_FLAG_POWEROFF_ON_SLEEP */
			cy,flags = <4>;
			/* CY_CORE_EWG_NONE */
			cy,easy_wakeup_gesture = <0>;
			cy,btn_keys = <172 /* KEY_HOMEPAGE */
				   	   /* previously was KEY_HOME, new Android versions use KEY_HOMEPAGE */
			               139 /* KEY_MENU */
			               158 /* KEY_BACK */
			               217 /* KEY_SEARCH */
			               114 /* KEY_VOLUMEDOWN */
			               115 /* KEY_VOLUMEUP */
			               212 /* KEY_CAMERA */
			               116>; /* KEY_POWER */
			cy,btn_keys-tag = <0>;

			cy,mt {
				cy,name = "cyttsp5_mt";
				cy,inp_dev_name = "cyttsp5_mt";
				cy,flags = <0xF8>;
				cy,abs =
					/* ABS_MT_POSITION_X, CY_ABS_MIN_X, CY_ABS_MAX_X, 0, 0 */
					<0x35 0 1872 0 0
					/* ABS_MT_POSITION_Y, CY_ABS_MIN_Y, CY_ABS_MAX_Y, 0, 0 */
					0x36 0 1404 0 0
					/* ABS_MT_PRESSURE, CY_ABS_MIN_P, CY_ABS_MAX_P, 0, 0 */
					0x3a 0 255 0 0
					/* CY_IGNORE_VALUE, CY_ABS_MIN_W, CY_ABS_MAX_W, 0, 0 */
					0xffff 0 255 0 0
					/* ABS_MT_TRACKING_ID, CY_ABS_MIN_T, CY_ABS_MAX_T, 0, 0 */
					0x39 0 15 0 0
					/* ABS_MT_TOUCH_MAJOR, 0, 255, 0, 0 */
					0x30 0 255 0 0
					/* ABS_MT_TOUCH_MINOR, 0, 255, 0, 0 */
					0x31 0 255 0 0
					/* ABS_MT_ORIENTATION, -127, 127, 0, 0 */
					0x34 0xffffff81 127 0 0
					/* ABS_MT_TOOL_TYPE, 0, MT_TOOL_MAX, 0, 0 */
					0x37 0 1 0 0
					/* ABS_DISTANCE, 0, 255, 0, 0 */
					0x19 0 255 0 0>;

				cy,vkeys_x = <1350>;
				cy,vkeys_y = <1872>;

				cy,virtual_keys = /* KeyCode CenterX CenterY Width Height */
					/* KEY_BACK */
					<158 1360 90 160 180
					/* KEY_MENU */
					139 1360 270 160 180
					/* KEY_HOMEPAGE */
					172 1360 450 160 180
					/* KEY SEARCH */
					217 1360 630 160 180>;
			};
		};	
	};

	gt1x: gt1x@14 {
		status = "disabled";
		compatible = "goodix,gt1x";
		reg = <0x14>;
		power-supply = <&vcc3v3_lcd>;
		goodix,rst-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_HIGH>;
		goodix,irq-gpio = <&gpio0 RK_PA5 IRQ_TYPE_LEVEL_LOW>;
	};

	sensor@4c {
		status = "disabled";
		compatible = "gs_mma7660";
		reg = <0x4c>;
		type = <SENSOR_TYPE_ACCEL>;
		irq-gpio = <&gpio0 RK_PB7 IRQ_TYPE_LEVEL_LOW>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		layout = <2>;
		reprobe_en = <1>;
	};
};

&i2c2 {
	status = "okay";

	tps65185@68 {
		status = "okay";
		compatible = "ti,tps65185";
		reg = <0x68>;
		pinctrl-names = "default";
		pinctrl-0 = <&tps65185_gpio>;
		wakeup_pin = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>;
		vcomctl_pin = <&gpio2 RK_PA1 GPIO_ACTIVE_HIGH>;
		powerup_pin = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>;
		poweren_pin = <&gpio2 RK_PA5 GPIO_ACTIVE_HIGH>;
	};
};

&i2c3 {
	status = "okay";

	wacom-emr@09 {
		compatible = "wacom,w9013";
		reg = <0x09>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&wacom_emr_gpio>;
		gpio_intr = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;
		gpio_detect = <&gpio1 RK_PD6 GPIO_ACTIVE_HIGH>;
		gpio_rst = <&gpio2 RK_PB2 GPIO_ACTIVE_HIGH>;
		gpio_pwren = <&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>;
	};

	awinic: aw2013@45{
		compatible = "awinic,aw2013";
		reg = <0x45>;
		vdd-supply = <&vcc_3v0>;
		pinctrl-names = "default";
		pinctrl-0 = <&awinic_gpio>;
		
		aw2013,red {
			aw2013,name = "red";
			aw2013,id = <0>;
			aw2013,max-brightness = <255>;
			aw2013,max-current = <1>;
			aw2013,rise-time-ms = <2>;
			aw2013,hold-time-ms = <1>;
			aw2013,fall-time-ms = <2>;
			aw2013,off-time-ms = <1>;
		};

		aw2013,green {
			aw2013,name = "green";
			aw2013,id = <1>;
			aw2013,max-brightness = <255>;
			aw2013,max-current = <1>;
			aw2013,rise-time-ms = <2>;
			aw2013,hold-time-ms = <1>;
			aw2013,fall-time-ms = <2>;
			aw2013,off-time-ms = <1>;
		};

		aw2013,blue {
			aw2013,name = "blue";
			aw2013,id = <2>;
			aw2013,max-brightness = <255>;
			aw2013,max-current = <1>;
			aw2013,rise-time-ms = <2>;
			aw2013,hold-time-ms = <1>;
			aw2013,fall-time-ms = <2>;
			aw2013,off-time-ms = <1>;
		};
	};
};

&i2s1_2ch {
	status = "okay";
	#sound-dai-cells = <0>;
};

&io_domains {
	status = "okay";

	vccio1-supply = <&vcc1v8_dvp>;
	vccio2-supply = <&vcc1v8_dvp>;
	vccio3-supply = <&vcc_3v0>;
	vccio4-supply = <&vcc2v8_dvp>;
	vccio5-supply = <&vcc1v8_dvp>;
};

&isp_mmu {
	status = "disabled";
};

&mipi_dphy {
	status = "okay";
};

&nandc0 {
	status = "okay";
};

&pinctrl {
	headphone {
		hp_det: hp-det {
			rockchip,pins = <2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	tps_pmic {
		tps65185_gpio: tps65185-gpio {
			rockchip,pins =
				/* E_PMIC_INT */
				<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
				/* E_PMIC_VCOM_CTL */
				<2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
				/* E_PMIC_WAKEUP */
				<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
				/* E_PMIC_PG */
				<2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
				/* E_PMIC_ON/PWRUP */
				<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
				/* E_PWR_EN */
				<2 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	input-dev {
		wacom_emr_gpio: wacom-emr-gpio {
			rockchip,pins =
				/* EMR_INT */
				<2 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
				/* EMR_RST */
				<1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>,
				/* EMR_PDCTB */
				<1 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				/* EMR_PWR_EN */
				<2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		touch_panel_gpio: touch-panel-gpio {
			rockchip,pins =
				/* TP_INT */
				<0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
				/* TP_RST */
				<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>,
				/* TP_PWR_EN */
				<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		cyttsp_gpio: cyttsp-gpio {
			rockchip,pins =
				/* TP_INT */
				<0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
				/* TP_RST */
				<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>,
				/* TP_PWR_EN */
				<0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		hall_sensor_gpio: hall-sensor-gpio {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pmic {
		pmic_int: pmic_int {
			rockchip,pins =
				<0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		soc_slppin_gpio: soc_slppin_gpio {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_GPIO &pcfg_output_low>;
		};

		soc_slppin_slp: soc_slppin_slp {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_1 &pcfg_pull_none>;
		};

		soc_slppin_rst: soc_slppin_rst {
			rockchip,pins =
				<0 RK_PA4 RK_FUNC_2 &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless {
		bt_gpios: bt-gpios {
			/* reset gpio */
			rockchip,pins =
				/* reset gpio */
				<0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>,
				/* wake bt gpio */
				<0 RK_PA1 RK_FUNC_GPIO &pcfg_pull_down>,
				/* wake host gpio */
				<0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
	
	led {
		awinic_gpio: awinic-gpio {
			rockchip,pins = <0 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
	       };
	};

};

&pmu_io_domains {
	status = "okay";

	pmuio1-supply = <&vcc3v0_pmu>;
	pmuio2-supply = <&vcc3v0_pmu>;
};

&pwm0 {
	status = "disabled";
};

&pwm1 {
	status = "disabled";
};

&pwm2 {
	status = "disabled";
};

&rk_rga {
	status = "okay";
};

&rockchip_suspend {
	status = "okay";
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMOFF
		| RKPM_SLP_PMU_HW_PLLS_PD
		| RKPM_SLP_PMU_PMUALIVE_32K
		| RKPM_SLP_PMU_DIS_OSC
		| RKPM_SLP_PMIC_LP
		| RKPM_SLP_PIN_REVERSE
		)
	>;
	rockchip,ultra-sleep-mode-config = <RKPM_SLP_ULTRA>;
	rockchip,pwm-regulator-config = <RKPM_SLP_LDO2_ON>;
	rockchip,sleep-debug-en = <1>;
};

&saradc {
	status = "okay";
	vref-supply = <&vcc1v8_soc>;
};

&sdmmc {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	supports-sd;
	card-detect-delay = <800>;
	ignore-pm-notify;
	/*cd-gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>; [> CD GPIO <]*/
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vqmmc-supply = <&vccio_sd>;
	vmmc-supply = <&vcc_sd>;
	status = "disabled";
};

&sdio {
	bus-width = <4>;
	cap-sd-highspeed;
	supports-sdio;
	ignore-pm-notify;
	keep-power-in-suspend;
	non-removable;
	mmc-pwrseq = <&sdio_pwrseq>;
	sd-uhs-sdr104;
	status = "okay";
};

&tsadc {
	pinctrl-names = "init", "default";
	pinctrl-0 = <&tsadc_otp_gpio>;
	pinctrl-1 = <&tsadc_otp_out>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_xfer &uart1_cts>;
	status = "okay";
};

&u2phy {
	status = "okay";

	u2phy_host: host-port {
		status = "okay";
	};

	u2phy_otg: otg-port {
		status = "okay";
	};
};

&usb20_otg {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&vpu_combo {
	status = "okay";
};

&firmware_android {
	compatible = "android,firmware";
	fstab {
		compatible = "android,fstab";
		system {
			compatible = "android,system";
			dev = "/dev/block/by-name/system";
			type = "ext4";
			mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
			fsmgr_flags = "wait";
		};
		vendor {
			compatible = "android,vendor";
			dev = "/dev/block/by-name/vendor";
			type = "ext4";
			mnt_flags = "ro,barrier=1,inode_readahead_blks=8";
			fsmgr_flags = "wait";
		};
		oem {
			compatible = "android,oem";
			dev = "/dev/block/by-name/oem";
			type = "ext4";
			mnt_flags = "rw,noatime,nodiratime,noauto_da_alloc";
			fsmgr_flags = "wait,check";
		};
	};
};
